body {
  padding-top: 0 !important;
}

header {
  position: fixed !important;
  padding-top: 10px !important;
  background-color: white !important;
  z-index: 1 !important;
}

section {
  padding-top: 60px !important;
}
